#section-media1{
    display: flex;
    flex-direction: column;
    // background-color: black;
    padding-top: 100px;
    .div-photo{
        width: 100%;
        height: 200px;
        // background-color: red;
        margin-top: 20px;
        .img-amozesh{
            height: 100%;
            width: 100%;
        }
    }
    #section-tozihat{
        // background-color: red;
        .div-amozesh-barname{
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 30px;
                color: red;
            }
        }
        .div-modat-zaman{
            background-color: #fff;
            display: flex;
            // background-color: blue;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            .p-modat-zaman{
                font-size: 17px;
                color: black;
                font-weight: bold;
                direction: rtl;
            }
            .p-amozesh{
                color: black;
                font-size: 17px;
                font-weight: bold;
                margin-right: 10px;
                direction: rtl;
            }
        }
    }
}
.div-matn{
    // background-color: red;
    width: 100%;
    direction: rtl;
    margin-top: 50px;
    .matn{
        font-size: 17px;
        padding: 10px;
    }
}
.div-amozesh-oyek{
    width: 100%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .p1{
        color: rgb(255, 187, 0);
        font-size: 25px;
        padding: 10px;
        width: 95%;
    }
    .p2{
        color: rgb(99, 73, 1);
        font-size: 20px;
        padding: 10px;
        width: 95%;
    }
}
#section-doreha{
    display: flex;
    // background-color: red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .div-dore-html{
        height: 370px;
        width: 95%;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.534);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-dore-html{
            height: 180px;
            width: 85%;
        }
        .p-html{
            direction: rtl;
            font-size: 22px;
            color: black;
            font-weight: bold;
        }
        .div-daneshjoyan{
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            .p-tedad{
                font-size: 17px;
                color: black;
            }
            .p-modares{
                font-size: 17px;
                color: black;
            }
            .p-zaman{
                font-size: 17px;
                color: black;
            }
        }
        .div-btn{
            // background-color: red;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-top: 10px;
            #btn-html{
                height: 40px;
                width: 150px;
                background-color: blue;
                border: none;
                border-radius: 7px;
                p{
                    color: #fff;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
    .div-dore-react{
        height: 370px;
        width: 95%;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.534);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        .img-dore-react{
            height: 180px;
            width: 85%;
        }
        .p-react{
            direction: rtl;
            font-size: 22px;
            color: black;
            font-weight: bold;
        }
        .div-daneshjoyan{
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            .p-tedad{
                font-size: 17px;
                color: black;
            }
            .p-modares{
                font-size: 17px;
                color: black;
            }
            .p-zaman{
                font-size: 17px;
                color: black;
            }
        }
        .div-btn{
            // background-color: red;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-top: 10px;
            #btn-html{
                height: 40px;
                width: 150px;
                background-color: blue;
                border: none;
                border-radius: 7px;
                p{
                    color: #fff;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
    .div-dore-back-end-mob{
        height: 370px;
        width: 95%;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.534);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        .img-dore-back-end{
            height: 180px;
            width: 85%;
        }
        .p-back-end{
            direction: rtl;
            font-size: 22px;
            color: black;
            font-weight: bold;
        }
        .div-daneshjoyan{
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            .p-tedad{
                font-size: 17px;
                color: black;
            }
            .p-modares{
                font-size: 17px;
                color: black;
            }
            .p-zaman{
                font-size: 17px;
                color: black;
            }
        }
        .div-btn{
            // background-color: red;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-top: 10px;
            #btn-html{
                height: 40px;
                width: 150px;
                background-color: blue;
                border: none;
                border-radius: 7px;
                p{
                    color: #fff;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
    .div-dore-back-end-pish{
        height: 370px;
        width: 95%;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.534);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        .img-dore-back-end{
            height: 180px;
            width: 85%;
        }
        .p-back-end{
            direction: rtl;
            font-size: 22px;
            color: black;
            font-weight: bold;
        }
        .div-daneshjoyan{
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            .p-tedad{
                font-size: 17px;
                color: black;
            }
            .p-modares{
                font-size: 17px;
                color: black;
            }
            .p-zaman{
                font-size: 17px;
                color: black;
            }
        }
        .div-btn{
            // background-color: red;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-top: 10px;
            #btn-html{
                height: 40px;
                width: 150px;
                background-color: blue;
                border: none;
                border-radius: 7px;
                p{
                    color: #fff;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
        
    .div-dore-html:hover{
        border: 1px solid rgb(238, 255, 0);
        box-shadow: 0 0 10px rgba(238, 255, 0, 0.582);
    }
    .div-dore-react:hover{
        border: 1px solid rgb(238, 255, 0);
        box-shadow: 0 0 10px rgba(238, 255, 0, 0.582);
    }
    .div-dore-back-end-mob:hover{
        border: 1px solid rgb(238, 255, 0);
        box-shadow: 0 0 10px rgba(238, 255, 0, 0.582);
    }
    .div-dore-back-end-pish:hover{
        border: 1px solid rgb(238, 255, 0);
        box-shadow: 0 0 10px rgba(238, 255, 0, 0.582);
    }
}

// #region media
@media (min-width:750px) {
    #section-media1{
        // background-color: black;
        flex-direction: row-reverse;
        height: 300px;
        .div-photo{
            background-color: #fff;
            width: 58%;
            height: 130%;
            margin-top: 0;
            .img-amozesh{
                height: 100%;
                width: 100%;
            }
        }
        #section-tozihat{
            background-color: #fff;
            flex-direction: column;
            width: 40%;
            margin-right: 2%;
            .div-amozesh-barname{
                margin-top: 0;
                // background-color: blue;
                h1{
                    font-size: 30px;
                    width: 100%;
                }
            }
            .div-modat-zaman{
                // background-color: red;
                direction: rtl;
                .p-modat-zaman{
                    font-size: 20px;
                }
                .p-amozesh{
                    font-size: 20px;
                    margin-right: 0;
                }
            }
        }
    }
    .div-matn{
        margin-top: 70px;
    }
    #section-doreha{
        .div-dore-html{
            width: 50%;
        }
        .div-dore-react{
            width: 50%;
        }
        .div-dore-back-end-mob{
            width: 50%;
        }
        .div-dore-back-end-pish{
            width: 50%;
        }
    }
}
@media (min-width:1020px) {
    #section-doreha{
        // background-color: red;
        gap: 5rem;
        flex-direction: row;
        flex-wrap: wrap;
        .div-dore-html{
            width: 350px;
            margin-top: 0;
        }
        .div-dore-react{
            width: 350px;
            margin-top: 0;
        }
        .div-dore-back-end-mob{
            width: 350px;
            margin-top: 0;
        }
        .div-dore-back-end-pish{
            width: 350px;
            margin-top: 0;
        }
    }
}
// #endregion