#main {
  background-color: #f1ebfb6b;
  width:100% ;
  position: fixed !important;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 20;
}
#logo{
  height: 50px;
}
#ul {
  direction: rtl;
  height: 220px;
  width: 100%;
  background-color: #f1ebfb4b;
  border: 1px solid black;
}
#hh {
  padding-right: 35px;
}
#home{
  color: black;
}
#home:hover{
  color: rgba(0, 0, 255, 0.693);
}
#moshaver:hover{
  color: rgba(0, 0, 255, 0.693);
}

@media (min-width: 768px) {
  #ul {
    height: 50px;
    align-items: center;
    width: 100%;
    border: none;
  }
}
