@font-face {
  font-family: vazir;
  src: url(../../font/Vazir/Vazir.ttf);
}
* {
  font-family: vazir;
}

#footer {
  background-color: #f1ebfb;
  display: flex;
  align-items: center;
  text-align: center;
  height: 550px;
}
.map{
  height: 200px;
  width: 100%;
  
  display: flex;
  align-items: center;
  text-align: center;
}
#ulli {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;

  margin-top: 10%;
}
#insta {
  font-size: 30px;
  font-weight: 900;
  color: black;
}
#insta:hover {
  color: blueviolet;
  cursor: pointer;
}
#telegram {
  font-size: 30px;
  font-weight: 900;
  color: black;
}
#telegram:hover {
  color: blue;
  cursor: pointer;
}
#gmail {
  font-size: 30px;
  font-weight: 900;
  color: black;
}
#gmail:hover {
  color: crimson;
}
#link {
  font-size: 30px;
  font-weight: 900;
  color: black;
}
#link:hover {
  color: blue;
}
.linkb {
  height: 100px;

  width: 100%;
 direction: rtl;
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;


}
@media (min-width: 768px) {
  #ulli {
    height: 150px;
    width: 400px;
    margin-top: 3%;
  
  }
  .linkb {
    width: 200px;
    height: 300px;
    margin-top: 5%;
    flex-direction: column;
   
  
  }
  #footer{
    height: 350px;
  }
  .map{
    width: 550px;
    margin-left: 10%;
  }
}
