.div-first {
  background-color: rgba(0, 0, 255, 0.836) 0, 0, 255, 0.582;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding-top: 110px;
  gap: 20px;
}
.div-first #btn-hame-nemone {
  height: 50px;
  width: 150px;
  background-color: #D48BF1;
  border-radius: 5px;
  color: #fbfbfb;
  box-shadow: 0 0 7px black;
  transition: 0.5s;
}
.div-first .p-nemone {
  font-size: 20px;
  font-weight: bold;
  color: #472cbe;
}
.div-first #btn-hame-nemone:hover {
  box-shadow: 0 0 0;
  transition: 0.5s;
}

#section-asli-nemone {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 70px;
}
#section-asli-nemone .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  position: relative;
}
#section-asli-nemone .div1 .img-asli {
  width: 100%;
  height: 90%;
  border-radius: 5px 5px 0 0;
  filter: grayscale(100);
  transition: 0.5s;
}
#section-asli-nemone .div1 .img-asli:hover {
  filter: grayscale(0);
  transition: 0.25s;
  cursor: pointer;
}
#section-asli-nemone .div1 .p1 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
#section-asli-nemone .div1 .div-logo1 {
  position: absolute;
  top: 30%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2039215686);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  width: 100%;
}
#section-asli-nemone .div1 .div-logo1 .logo1 {
  width: 60px;
  height: 100%;
}
#section-asli-nemone .div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  position: relative;
}
#section-asli-nemone .div2 .img-asli {
  width: 100%;
  height: 90%;
  border-radius: 5px 5px 0 0;
  filter: grayscale(100);
  transition: 0.5s;
}
#section-asli-nemone .div2 .img-asli:hover {
  filter: grayscale(0);
  transition: 0.25s;
  cursor: pointer;
}
#section-asli-nemone .div2 .p1 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
#section-asli-nemone .div2 .div-logo1 {
  position: absolute;
  top: 30%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.2745098039);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  width: 100%;
}
#section-asli-nemone .div2 .div-logo1 .logo1 {
  height: 70px;
  width: 150px;
}
#section-asli-nemone .div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  position: relative;
}
#section-asli-nemone .div3 .img-asli {
  width: 100%;
  height: 90%;
  border-radius: 5px 5px 0 0;
  filter: grayscale(100);
  transition: 0.5s;
}
#section-asli-nemone .div3 .img-asli:hover {
  filter: grayscale(0);
  transition: 0.25s;
  cursor: pointer;
}
#section-asli-nemone .div3 .p1 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
#section-asli-nemone .div3 .div-logo1 {
  position: absolute;
  top: 30%;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.2745098039);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  width: 100%;
}
#section-asli-nemone .div3 .div-logo1 .logo1 {
  height: 70px;
  width: 110px;
}
#section-asli-nemone .div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  position: relative;
}
#section-asli-nemone .div4 .img-asli {
  width: 100%;
  height: 90%;
  border-radius: 5px 5px 0 0;
  filter: grayscale(100);
  transition: 0.5s;
}
#section-asli-nemone .div4 .img-asli:hover {
  filter: grayscale(0);
  transition: 0.25s;
  cursor: pointer;
}
#section-asli-nemone .div4 .p1 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
#section-asli-nemone .div4 .div-logo1 {
  position: absolute;
  top: 30%;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.3568627451);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  width: 100%;
}
#section-asli-nemone .div4 .div-logo1 .logo1 {
  height: 70px;
  width: 110px;
}
#section-asli-nemone .div5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  position: relative;
}
#section-asli-nemone .div5 .img-asli {
  width: 100%;
  height: 90%;
  border-radius: 5px 5px 0 0;
  filter: grayscale(100);
  transition: 0.5s;
}
#section-asli-nemone .div5 .img-asli:hover {
  filter: grayscale(0);
  transition: 0.25s;
  cursor: pointer;
}
#section-asli-nemone .div5 .p1 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
#section-asli-nemone .div5 .div-logo1 {
  position: absolute;
  top: 30%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3568627451);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  width: 100%;
}
#section-asli-nemone .div5 .div-logo1 .logo1 {
  height: 60px;
  width: 110px;
}

@media (min-width: 425px) {
  #section-asli-nemone {
    width: 80%;
    margin-left: 10%;
  }
  #section-asli-nemone .div1 {
    width: 90%;
  }
  #section-asli-nemone .div2 {
    width: 90%;
  }
  #section-asli-nemone .div3 {
    width: 90%;
  }
  #section-asli-nemone .div4 {
    width: 90%;
  }
  #section-asli-nemone .div5 {
    width: 90%;
  }
}
@media (min-width: 768px) {
  #section-asli-nemone {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
  #section-asli-nemone .div1 {
    width: 350px;
  }
  #section-asli-nemone .div2 {
    width: 350px;
  }
  #section-asli-nemone .div3 {
    width: 350px;
  }
  #section-asli-nemone .div4 {
    width: 350px;
  }
  #section-asli-nemone .div5 {
    width: 350px;
  }
}
@media (min-width: 1024px) {
  .div-first {
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-left: 7.5%;
  }
  .div-first #btn-hame-nemone {
    width: 170px;
    font-size: 20px;
  }
  .div-first .p-nemone {
    font-size: 25px;
  }
  #section-asli-nemone {
    width: 100%;
    margin-left: 0;
    justify-content: space-evenly;
    gap: 30px;
  }
  #section-asli-nemone .div1 {
    width: 370px;
    height: 300px;
  }
  #section-asli-nemone .div2 {
    width: 370px;
    height: 300px;
  }
  #section-asli-nemone .div3 {
    width: 370px;
    height: 300px;
  }
  #section-asli-nemone .div4 {
    width: 370px;
    height: 300px;
  }
  #section-asli-nemone .div5 {
    width: 370px;
    height: 300px;
  }
}/*# sourceMappingURL=Nemone.css.map */